//左侧菜单
$base-menu-width:260px;
$base-menu-background:#001529;
$base-menu-min-width:50px;
//底部导航
$base-tabbar-height:50px;
//左侧logo
$base-menu-logo-height:50px;
//左侧logo右边文字的大小
$base-logo-title-dontSize:20px;